* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.left-side-support img {
  width: 641px;
  height: 656px;
}
.left-side-support {
  width: 50%;
}

.destek {
  width: 100%;
  align-items: center;
}

.right-side-support {
  width: 50%;
  padding-left: 160px;
}
